<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006689064972-i82jrvk98u6npvdih6ae9dqg6lsfgr6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006689064972-i82jrvk98u6npvdih6ae9dqg6lsfgr6v</string>
	<key>API_KEY</key>
	<string>AIzaSyAM-zf289Y6euoT23dsJQ11STgbyDn8zb4</string>
	<key>GCM_SENDER_ID</key>
	<string>1006689064972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.theananta.scanify</string>
	<key>PROJECT_ID</key>
	<string>g-samay</string>
	<key>STORAGE_BUCKET</key>
	<string>g-samay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006689064972:ios:26f4eb87d4b70e37edb629</string>
</dict>
</plist>